.div {
  text-align: center;
}

.span1 {
  margin-top: 15px;
  font-size: 150px;
  padding: 5px;
  display: block;
  font-family: Impact;
}

.span2 {
  font-size: 50px;
  padding: 5px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Impact;
}

.span3 {
  display: block;
  font-size: 20px;
}

.link {
  color: blue;
  font-weight: bolder;
  text-decoration: solid;
}

.avatar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  zoom: 3;
}
